.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) -- This would display the text at 10.0rem on laptops and larger screens */

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 10rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-toggler-icon {
  background-image: url("https://svgshare.com/i/RbD.svg");
}

.btn-brand {
  width: 8rem;
  height: 3rem;
  background-image: linear-gradient(150deg, #2af598 0%, #009efd 100%);
  border-radius: 40% 0 40% 0 !important;
  color: white !important;
  padding: 1rem;
}
.btn-brand:hover {
  background-image: linear-gradient(150deg, #009efd 0%, #2af598 100%);
}
.brand-title {
  font-family: "Yeseva One", cursive;
  color: #0d052e;
  text-align: left;
}
.header-container {
  background-image: url("https://i.ibb.co/fQnMjtH/Group-46-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
