* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) -- This would display the text at 10.0rem on laptops and larger screens */

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 10rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-toggler-icon {
  background-image: url("https://svgshare.com/i/RbD.svg");
}

.btn-brand {
  width: 8rem;
  height: 3rem;
  background-image: linear-gradient(150deg, #2af598 0%, #009efd 100%);
  border-radius: 40% 0 40% 0 !important;
  color: white !important;
  padding: 1rem;
}
.btn-brand:hover {
  background-image: linear-gradient(150deg, #009efd 0%, #2af598 100%);
}
.btn-secondary-brand {
  position: relative;
  top: 0;
  right: 0;
  background-image: linear-gradient(150deg, #2af598 0%, #009efd 100%);
  color: white !important;
}
.btn-secondary-brand:hover {
  background-image: linear-gradient(150deg, #009efd 0%, #2af598 100%);
}
.brand-title {
  font-family: "Yeseva One", cursive;
  color: #0d052e;
  text-align: left;
}
.header-container {
  background-image: url("https://i.ibb.co/fQnMjtH/Group-46-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.service-card-container:hover {
  border: 1px solid red;
  border-radius: 30% 0 30% 0;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/* footer */

.footer {
  background: #f4feff;
}
.iconStyle img {
  height: 20px;
  margin: 20px 25px 5px 0;
}

@media (max-width: 768px) {
  .footer-icon,
  .footer-description {
    text-align: center;
  }
  .footer-des span {
    font-size: 20px;
  }
}

/* pricing */
.card-title-border {
  border-bottom: 1px solid #72eafa;
}

.card-hover:hover {
  border: 3px solid #72eafa;
}

/* achievements */
.achieveCardOne {
  background: linear-gradient(55deg, #03a4f4ff, #1fdeb0ff);
  border-radius: 0 60px 0 60px;
  padding: 30px 10px;
  color: white;
}
.achieveCardTwo {
  border-radius: 60px 0px 60px 0px;
  box-shadow: 0px 5px 30px 5px #1fdeb236;
  padding: 30px 10px;
  color: #707070;
}
.achieveCardThree {
  border-radius: 0 60px 0 60px;
  box-shadow: 0px 5px 30px 5px #1fdeb236;
  padding: 30px 10px;
  color: #707070;
}
